<h3>Simple Runner</h3>
<p>
  Jobs are run on the same machine as the main strider instance, in a
  child process. This is the simplest option, but offers no security nor isolation.
  <strong>Only test trusted projects</strong> using this
  runner.
  If you need isolation, check out <a href="https://github.com/Strider-CD/strider-docker-runner">Docker
  Runner</a>.
</p>

<p>
  Preserve the data directories from
  <input type="number" ng-model="config.concurrentJobs" placeholder="1">
  previous builds.
</p>

<button class="btn btn-primary" ng-click="save()">Save</button>
